body{
    background:#333;
    color:rgb(255, 255, 255);

}
.Welcome{
    background:#333;
    color:rgb(255, 255, 255);

}

.txtcont{
    background:#333;
    color:rgb(255, 255, 255);
    font-family:'Comic Sans';
    font-size: 70;

}
p.txtcont{
    background:#333;
    color:rgb(255, 255, 255);
    font-family:'Comic Sans';
    font-size: 70px;}







.logo {
    border-radius: 50%;
}

