body{
    background:#333;
    color:rgb(255, 255, 255);

}
.Welcome{
    background:#333;
    color:rgb(255, 255, 255);

}

.txtcont{
    background:#333;
    color:rgb(255, 255, 255);
    font-family:'Comic Sans';
    font-size: 70;

}
p.txtcont{
    background:#333;
    color:rgb(255, 255, 255);
    font-family:'Comic Sans';
    font-size: 70px;}


.img1{
    margin-right: auto;
    margin-left: auto;

}




.logo {
    border-radius: 50%;
    height: 3000px;
    width: 300px;
   
}

